.main-banner {
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 400;
    line-height: normal;
    font-size: 30px;
    text-align: center;
    padding: 150px 100px 210px 100px;
    margin: 50px 30px;
    position: relative;
}
.main-button a {
    display: inline-block;
    font-size: 20px;
    margin-top: 100px;
    padding: 12px 18px;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
    transition: all .3s;
}



